* {
    background-color: #161616;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 25px;
    margin: 3px;
}

p {
    margin: 2px;
}

img {
    margin-left: 10px;
    width: 100px;
    border-radius: 50%;
}
